<a href="https://colab.research.google.com/github/HKcode22/CS133-DataVisualization/blob/main/CS133_Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


penguins = sns.load_dataset('penguins') # loading penguin dataset from seaborn
print("First few rows of penguin dataset: ")
penguins.head()

First few rows of penguin dataset:

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [4]:
#using loc and iloc to access specifc rows and columns
print("using loc to select rows and columns of species and island: ")
print(penguins.loc[0:4, ['species', 'island']])

print("using loc to select rows and columns of adelie and some columns: ")
print(penguins.loc[penguins['species']=='Adelie', ['bill_length_mm', 'flipper_length_mm']])

print("using iloc to select first 7 rows and 3 rows")
print(penguins.iloc[0:7, 0:4])

#spliting the island column into two seprate columns
print("splitting the island column into two seprate columns")
penguins['island_code'] = penguins['island'] + "-code" #creating a new column with delimiter
penguins_split = penguins['island_code'].str.split('-', expand=True) #splitting the column into two columns
print(penguins_split)

print("number of unique values in each column")
print(penguins.nunique())

print("checking for missing values")
print(penguins.isnull().sum())

using loc to select rows and columns of species and island:
  species     island
0  Adelie  Torgersen
1  Adelie  Torgersen
2  Adelie  Torgersen
3  Adelie  Torgersen
4  Adelie  Torgersen
using loc to select rows and columns of adelie and some columns:
     bill_length_mm  flipper_length_mm
0              39.1              181.0
1              39.5              186.0
2              40.3              195.0
3               NaN                NaN
4              36.7              193.0
..              ...                ...
147            36.6              184.0
148            36.0              195.0
149            37.8              193.0
150            36.0              187.0
151            41.5              201.0

[152 rows x 2 columns]
using iloc to select first 7 rows and 3 rows
  species     island  bill_length_mm  bill_depth_mm
0  Adelie  Torgersen            39.1           18.7
1  Adelie  Torgersen            39.5           17.4
2  Adelie  Torgersen            40.3           18.0
3  Adelie  Torgersen             NaN            NaN
4  Adelie  Torgersen            36.7           19.3
5  Adelie  Torgersen            39.3           20.6
6  Adelie  Torgersen            38.9           17.8
splitting the island column into two seprate columns
             0     1
0    Torgersen  code
1    Torgersen  code
2    Torgersen  code
3    Torgersen  code
4    Torgersen  code
..         ...   ...
339     Biscoe  code
340     Biscoe  code
341     Biscoe  code
342     Biscoe  code
343     Biscoe  code

[344 rows x 2 columns]
number of unique values in each column
species                3
island                 3
bill_length_mm       164
bill_depth_mm         80
flipper_length_mm     55
body_mass_g           94
sex                    2
island_code            3
dtype: int64
checking for missing values
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
island_code           0
dtype: int64